body {
 position: relative;
 height: 100%;
 font-family: 'Open Sans', sans-serif;
 display: block;
 width: 1280px;
 margin: 0 auto;

}

.header {
    background-color: #02918c;
    height: 64px;
    width: auto;
    margin-top: -9px;
    margin-left: -8px;
    width: 100%;
}
.white {
    color: #ffffff;
     font-size: 26.18px;
    font-weight: 800;
    display: inline-block;
}

.green {
  color: #cfc91d;
     font-size: 26.18px;
  font-weight: 800;
  display: inline-block;
  margin-left: 2px;
}


.heading-main  {
     font-size: 26.18px;
    font-weight: 800;
    position: relative;
    display: inline-block;
    margin-top: -5px;
    margin-left: 50px;
    height: 50px;

}


.main-header {
  background-image: url(http://i.cubeupload.com/FP7VIw.jpg);
  background-clip: border-box;
  background-repeat: no-repeat;
  position: cover;
  margin-top: -25px;
  margin-left: -8px;
  height: 728px;
  width: auto;
  background-position: 0 -62px;
}


.main-menu {
  display: inline-block;
  top: 4px;
  margin: 0;
  padding: 0;
  right: 43px;
  position: absolute;

}

.main-menu li {
  display: inline-block;
  padding-left: 40px;
  right: 70px;
  color: #ffffff;
  font-size: 12px;
  margin-right: 8px;
  font-weight:bold;

}

.header-content h1 {

      font-weight: 800;
      font-size: 68px;
      color: white;
      letter-spacing: 23px;
      margin-top: -11px;
      margin-bottom: -15px;
      text-align: center;
      margin-left: 28px;
}


.header-content h2 {

    font-size: 30px;
    color: white;
    margin-bottom: 4px;
        margin-top: -49px;


}

.header-content h3 {
  font-size: 18px;
  color: white;
  margin: 9px;
  font-weight: bold;
  letter-spacing: 0px;

}




.header-content {
  margin-top: 25px;
  text-align: center;
  vertical-align: middle;
  padding-top: 250px;
}

#header-content-img {
  margin-top: 31px;
      margin-left: -6px;
}


.button1 {
  display: block;
  width: 195px;
  background-color: #cfc91d;
  text-align: center;
  text-decoration-color: black;
  text-decoration: none;
  border-radius: 0px;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 48px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: bold;
  font-size: 14px;
  color: #0b1016;
  letter-spacing: 4px;
 }




.info h2 {
    color: #02918c;
    font-size: 46px;
    text-align: center;
    position: relative;
    text-transform: uppercase;
        letter-spacing: 3px;
}

.info p {


    height: auto;
    font-size: 16px;
    color: #7e8287;
    text-align: center;
    position: relative;
        margin-top: -26px;
}

#p_info {
  margin-top: 20px;
  line-height: 2;
}

.info p strong {
    font-weight: 800;
    font-size: 23px;
}

.info {
    text-align: center;
    margin-top: 82px;

}

.decor::after {
   content: "~~~~~~~~ :: ~~~~~~~~";
   color: #7e8287;
   font-size: 16px;
   text-align: center;


}

.decsr {
    height: 260px;
    text-align: center;

    margin-top: 49px;

}


.decsr h2 {

    color: #7e8287;
    font-size: 16px;
margin: 0 auto;
margin-top: 18px;


}

.decsr h2:last-child {

margin-top: 18px;
margin-left: 10px;
}

.decsr h2:first-child {

margin-top: 18px;
margin-left: 10px;


}


.decsr p {
    color: #7e8287;
    font-size: 11px;

    height: auto;

margin: 0 auto;

}

.decsr div {
  width: 22.6%;
  float: right;
  box-sizing: border-box;
  text-align: center;
  margin-top: 15px;
  float: left;
  padding: 15px;
  position: relative;

}

.box4 {
  width: 286px;
  height: 255px;

float: left;
text-align: center;
margin-top: 10px;
border-right: 1px solid #d9dbdb;
}

.box4:last-child {
border-right: 0 ;
}

.box4 img {
    margin-top: 36px;
}

.box4:last-child img {
    margin-left: -24px;
}

.box4  h2{
    font-size: 16px;
    color: #7e8287;
    margin: 21px auto 25px auto;
}

.box4 p {
    font-size: 11px;
    color: #7e8287;
    padding: 0 50px;
    line-height: 1.9;

}

/* ширина макета и центрируем по середине . оверфлоу чтобы обьекты норм обтекали*/
.layout {
    width: 1163px;
    margin: 70px auto 95px auto;
    overflow: hidden;
}


.services {
 background-color: #f0f0e8;
 background-image: url(http://i.cubeupload.com/Xm9c1v.jpg);
 background-position: top center;
 background-repeat: no-repeat;
 background-size: hover;
 position: relative;
 height: 730px;
 width: auto;
 margin-left: -7px;
}

.services h1 {
  color: #02918c;
  font-size: 46px;
  text-align: left;
    margin-left: 7px;
}

.decor2::after {
   content: "~~~~~ :: ~~~~~";
   color: #7e8287;
   font-size: 16px;
   text-align: center;
}
.services p {
  font-size: 16px;
  color: #7e8287;
  width: 450px;

}

.content {
    width: 550px;

}
.content h2 {
    font-family: OpenSans;
    font-weight: 800;
    font-size: 16px;
    color: #7e8287;

}
.content div {
    float: left;
    width: 250px;
    height: 200px;
    margin-left: 15px;
    margin-top: 10px;
}


.content div p {
    height: 50px;
    width: 200px;
    text-align: left;

}
.work {
    height: 700px;
}
.work h1 {
    color: #02918c;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}
.work p{
   color: #7e8287;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
}


.contact h1 {
    color: #02918c;
    font-size: 40px;
}

.contact p {
    color: #7e8287;
    font-family: OpenSans;
    font-size: 16px;
}

.contact {
    text-align: center;
}

.photos img {
    width: 25%;
    float: left;
    height: 200px;
    background-size: cover;
    background-position: center;
    object-fit: cover;
     margin: 0;
}
.facts{
    background-color: #0b0b0b;
    height: 565px;
    margin-top: 30px;
    margin-bottom: 2px;
    margin-left: -8px;
}
.facts p{
    padding-top: 30px;
    color: #7e8287;
    font-size: 16px;
    text-align: center;
}
.question1 {

    text-align: center;
    background-color: #0b0b0b;
    border: none;
    border-bottom: 2px solid #7e8287;
    width: 640px;
}
.question2 {
    text-align: center;
    background-color: #0b0b0b;
    border: none;
    border-bottom: 2px solid #7e8287;
    width: 915px;
    margin: 30px;
}

form {
  text-align: center;
}

.button2 {
  display: block;
  width: 195px;
  height: 45px;
  background-color: #cfc91d;
  text-align: center;
  text-decoration-color: black;
  border-color: #cfc91d;
  text-decoration: none;
  border-radius: 0px;
  padding-top: 10px;
  text-transform: uppercase;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-weight: 800;
  font-size: 14px;
  color: #0b1016;
 }


footer {
    margin-top: -15px;
    height: 70px;
    text-align: center;
    background-color: #000000;
    margin-bottom: -8px;
    margin-left: -9px;
}

footer p {
    font-size: 12px;
    color: #7e8287;
    padding-top: 50px;

}
